@page "disclaimer"
@model DisclaimerModel
@{
    ViewData["Title"] = "Disclaimer";
}
<h1>@ViewData["Title"]</h1>

<div class="main justify-content-evenly">
    <hr />
    <p class="justify-content-between">&nbsp;This website is an independent and unofficial source of tools for SAP systems, and has no affiliation, association, authorization, endorsement, or connection with <span class="sap">SAP SE</span>, or any of its subsidiaries or affiliates. The official <span class="sap">SAP SE</span> website is [<a href="https://www.sap.com" class="link-secondary">www.sap.com</a>]. SAP and its related names, marks, emblems, and images are registered trademarks of <span class="sap">SAP SE</span>.</p>
    <p>&nbsp;This website does not generate any profit from the tools it offers. The tools are created by an individual who has no professional or personal relationship with <span class="sap">SAP SE</span> The individual makes the tools as a hobby and does not intend to harm or exploit any SAP system or user.</p>
    <p>&nbsp;The tools provided by this website are for educational and test purposes only. They are not intended for productive use and may not work as expected. The website does not guarantee the validity, security, or reliability of the tools. The website does not store, share, or send any of the data or information obtained by using the tools.</p>
    <p>&nbsp;The user is solely responsible for any consequences of using or disclosing the data or information obtained by using the provided tools. The website does not provide any warranty or liability for the data or information obtained by using the provided tools. Use at your own risk.</p>
    <p>&nbsp;We appreciate your feedback on the tools offered by this website. Please share your thoughts and suggestions with us at <a href="mailto:support@saptools.mx" class="link-secondary">support@saptools.mx</a></p>

    <p>&nbsp;More tools at <a href="https://saptools.mx">SAP Tools</a></p>
</div>