@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <main>
        <section>
            <h2>Welcome to Demos @@ SAP Tools</h2>
            <p>This site demonstrates the implementation of Single Sign-On (SSO) for SAP applications using Logon and Assertion Tickets. Explore the demos to see how SSO can be seamlessly integrated into SAP environments.</p>
        </section>
        <section>
            <h3>Available Demos</h3>
            <ul>
                <li><a href="/WebService">WebService Demo</a> - Shows how to use SSO with SAP Web Services.</li>
                <li><a href="/WebGUI">WebGUI Demo</a> - SSO Demonstrates SSO with SAP Web GUI.</li>
            </ul>
        </section>
        <section>
            <h3>Certificate Algorithms</h3>
            <p>The application supports three types of certificate algorithms: DSA, RSA, and ECDSA. The key size varies depending on the chosen algorithm. The following certificates are pre-loaded into the application and the SAP Demo System for demonstration purposes:</p>

            <table class="table table-smaller">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Algorithm</th>
                        <th>Key Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SAP SSO DSA 1024</td>
                        <td>DSA</td>
                        <td>1024</td>
                    </tr>
                    <tr>
                        <td>SAP SSO RSA 1024</td>
                        <td>RSA</td>
                        <td>1024</td>
                    </tr>
                    <tr>
                        <td>SAP SSO RSA 2048</td>
                        <td>RSA</td>
                        <td>2048</td>
                    </tr>
                    <tr>
                        <td>SAP SSO RSA 3072</td>
                        <td>RSA</td>
                        <td>3072</td>
                    </tr>
                    <tr>
                        <td>SAP SSO RSA 4096</td>
                        <td>RSA</td>
                        <td>4096</td>
                    </tr>
                    <tr>
                        <td>SAP SSO ECDSA P-256</td>
                        <td>ECDSA</td>
                        <td>P-256</td>
                    </tr>
                    <tr>
                        <td>SAP SSO ECDSA P-384</td>
                        <td>ECDSA</td>
                        <td>P-384</td>
                    </tr>
                    <tr>
                        <td>SAP SSO ECDSA P-521</td>
                        <td>ECDSA</td>
                        <td>P-521</td>
                    </tr>
                </tbody>
            </table>

            <blockquote>
                <p><strong>Note:</strong> Please verify that your chosen algorithm is supported by your SAP System.</p>
            </blockquote>
        </section>
        <section>
            <h3>Certificate Generation</h3>
            <p>Certificates can be generated using <code>OpenSSL</code> or <code>sapgenpse</code>. Below is an example of generating a certificate with <code>sapgenpse</code>:</p>
            <div>
<pre class="code-background"><code># Choose an algorithm and a key size:
ALG=RSA
SIZE=4096

# Set the Common Name
FILENAME="${ALG}-${SIZE}"
CN="OU=SAP Tools, CN=SAP SSO ${ALG} ${SIZE}"

# Delete the previous .pse files from the $SECUDIR directory
# Delete the previous .crt and .pfx files
rm ${SECUDIR}/${FILENAME}.pse ${FILENAME}.crt ${FILENAME}.pfx 2&gt;/dev/null
sapgenpse gen_pse -a $ALG -s $SIZE -p ${FILENAME} -x 12345678 "${CN}"
sapgenpse export_own_cert -p $FILENAME -x 12345678 -o ${FILENAME}.crt
sapgenpse export_p12 -p $FILENAME -x 12345678 -z 12345678 -f cn ${FILENAME}.pfx</code></pre>
            </div>
        </section>
        <section>
            <h3>Source Code</h3>
            <p>The source code for these demos can be found on GitHub:
            <a href="https://github.com/avadillo/SAPLogon">https://github.com/avadillo/SAPLogon</a> </p>
        </section>
        <section>
            <h3>Additional Tools</h3>
            <p>More tools at <a href="https://saptools.mx">https://saptools.mx</a></p>
        </section>
    </main>

</body>
</html>
