@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h2>Last updated: 2024-09-07</h2>
    <p>Welcome to <strong>SAP Tools</strong>! We respect your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, and share information about you when you visit our website located at <strong>https://sapnwa.saptools.mx</strong>.</p>

    <h3>Information We Collect</h3>
    <ul>
        <li><strong>Personal Information</strong>: We collect information that you voluntarily provide to us, such as your name, email address, and any other contact or personal information you choose to provide.</li>
        <li><strong>Usage Information</strong>: When you visit our site, we automatically collect certain information about your device and how you interact with our site, including IP address, browser type, and pages viewed.</li>
    </ul>

    <h3>How We Use Your Information</h3>
    <p>We use the information we collect to:</p>
    <ul>
        <li>Provide, maintain, and improve our website and services.</li>
        <li>Communicate with you, including responding to your comments, questions, and requests.</li>
        <li>For security, fraud prevention, and legal compliance.</li>
    </ul>

    <h3>Sharing Your Information</h3>
    <p>We do not share your personal information with third parties except as described in this policy or with your consent. This may include sharing information with service providers who support our website operation, in compliance with legal obligations, or in the protection of our rights and those of others.</p>

    <h3>Your Choices and Rights</h3>
    <p>You have certain rights regarding the personal information we hold about you. These may include the right to access, correct, or delete the information, as well as the right to object to or restrict certain processing activities.</p>

    <h3>Cookies and Tracking Technologies</h3>
    <p>We use cookies and similar tracking technologies to track activity on our site and hold certain information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent.</p>

    <h3>Changes to This Privacy Policy</h3>
    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

    <h3>Contact Us</h3>
    <p>If you have any questions about this Privacy Policy, please contact us at <strong>[Your Contact Information]</strong>.</p>
</div>
