@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model WSModel

@{
    ViewData["Title"] = "WebService Demo";
}
<h3>WebService Demo</h3>
<br />
<div class="text-center">
    <form method="post">
        <table>
            <tr>
                <td>Cert ID: </td>
                <td>
                    <select asp-for="Cert" asp-items="Model.CertList" class="form-control">
                        <option value="">-- Select a certificate --</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>User ID: </td>
                <td>
                    <select asp-for="UserName" asp-items="Model.UserList" class="form-control">
                        <option value="">-- Select a user name --</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" asp-page-handler="Submit" class="btn btn-primary">Submit</button></td>
            </tr>
        </table>
        <hr />
    </form>

    <textarea asp-for="TxtStatus" style="width: 100%; font-family: monospace; font-size: 12px" rows="50" readonly></textarea>
</div>