@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model WSModel

@{
    ViewData["Title"] = "WebService Demo";
}
<div class="container mt-5">
    <h3 class="text-center">@ViewData["Title"]</h3>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                <div class="form-group">
                    <label for="Cert">Cert ID:</label>
                    <select asp-for="Cert" asp-items="Model.CertList" class="form-control">
                        <option value="">-- Select a certificate --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="UserName">User ID:</label>
                    <select asp-for="UserName" asp-items="Model.UserList" class="form-control">
                        <option value="">-- Select a user name --</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="ShowRequest" type="checkbox" class="custom-control-input" id="ShowRequest">
                        <label class="custom-control-label" for="ShowRequest">Show Request</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="ShowResponseHeaders" type="checkbox" class="custom-control-input" id="ShowResponseHeaders">
                        <label class="custom-control-label" for="ShowResponseHeaderst">Show Response Headers</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="ParseResponse" type="checkbox" class="custom-control-input" id="ParseResponse">
                        <label class="custom-control-label" for="ParseResponse">Parse the Response</label>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" asp-page-handler="Submit" class="btn btn-primary btn-lg">
                        <i class="fas fa-paper-plane"></i> Submit
                    </button>
                </div>
            </form>

        </div>
        <textarea asp-for="TxtStatus" class="form-control mt-3" style="font-family: monospace; font-size: 10px" rows="25" readonly></textarea>
    </div>
</div>
