<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SAPLogon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SAPLogon.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="/favicon.ico?v=20230623">
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png?v=20230624">
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png?v=20230624">
    <meta name="application-name" content="SAP Logon">
    <link rel="manifest" href="/ico/site.webmanifest?v=20230628">

    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@saptools_" />
    <meta name="twitter:site" content="@@saptools_" />
    <meta name="twitter:image" content="https://saplogon.aptus.mx/img/logo.sq.600x600.png?v=20230623" />
    @* OpenGraph meta tags *@
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://saplogon.aptus.mx/img/logo.sq.600x600.png?v=20230623" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">SAP Logon</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/WS">Assertion Ticket</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Disclaimer">Disclaimer</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SAP Logon - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>